[Unit]
Description=Varnish HTTP accelerator m2 prod
Documentation=https://www.varnish-cache.org/docs/6.1/ man:varnishd

[Service]
Type=simple
LimitNOFILE=131072
LimitMEMLOCK=82000
#ExecStart=/usr/sbin/varnishd -j unix,user=vcache -F -a :6081 -T localhost:6082 -f /etc/varnish/default.vcl -S /etc/varnish/secret -s malloc,256m
#ExecStart=/usr/sbin/varnishd -j unix,user=vcache -F -a :7081 -T localhost:7082 -f /etc/varnish/default.m2prod.vcl -n m2prod -S /etc/varnish/secret -s malloc,256m -p vcc_allow_inline_c=on -p feature=+esi_ignore_other_elements -p http_resp_hdr_len=65536                                                              
#ExecStart=/usr/sbin/varnishd -j unix,user=vcache -F -a :7081 -T localhost:7082 -f /etc/varnish/default.m2prod.vcl -n m2prod -S /etc/varnish/secret -s malloc,256m                                                                                                                                                        
ExecStart=/usr/sbin/varnishd -j unix,user=vcache -F -a :10081 -T localhost:10082 -f /etc/varnish/default.m2prod.vcl -n m2prod -S /etc/varnish/secret -p vcc_allow_inline_c=on -s file,/var/lib/varnish/m2prod/varnish_storage.bin,20G -p workspace_client=256k -p http_resp_hdr_len=64k -p http_resp_size=96k -p workspace_backend=256k
#ExecReload=/usr/share/varnish/varnishreload
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
